[toolchain]
package_manager = "yarn"
anchor_version = "0.31.0"
solana_version = "1.18.26"

[features]
resolution = true
skip-lint = false

[programs.devnet]
nebulon_sbt_identity = "AVPj6DchcE2yZQPidaYqt2MoyNx3TyH1BpRyB9E1TW7h"

[programs.mainnet]
nebulon_sbt_identity = "E2Dn1WLsUFyiYVFeQzjMAxRyYBjroihU8VGNC9HDQSnv"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
